<form [formGroup]="loginForm" *ngIf= "!visible">
	<h2>{{ headline }}</h2>
	<input type='text' formControlName="email" placeholder='E-mail'>
<div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
	<div class="error-message" *ngIf="email.errors.required">
		Este campo es requerido.
	</div>
	<div class="error-message" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.pattern">
		El correo es invalido.
	</div>
</div>
	<input type='password' formControlName="password" placeholder='Password'>
	<div class="alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
		<div class="error-message" *ngIf="password.errors.required">
			Este campo es requerido.
		</div>
</div>
  <button type='button' (click)="logIn()">LogIn</button>
  
</form>
<app-home *ngIf= "visible"></app-home>